<a href="https://colab.research.google.com/github/Yeicko10/Analisis_Dirty_Cafe_Sales/blob/main/dirty_cafe_sales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import matplotlib.pyplot as mt
import io
import scipy
import seaborn as sns
import sklearn
import statsmodels.api as sm
import pandas as pd

In [2]:
df = pd.read_csv("dirty_cafe_sales.csv")
df

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
...,...,...,...,...,...,...,...,...
9995,TXN_7672686,Coffee,2,2.0,4.0,NaN,UNKNOWN,2023-08-30
9996,TXN_9659401,NaN,3,NaN,3.0,Digital Wallet,NaN,2023-06-02
9997,TXN_5255387,Coffee,4,2.0,8.0,Digital Wallet,NaN,2023-03-02
9998,TXN_7695629,Cookie,3,NaN,3.0,Digital Wallet,NaN,2023-12-02
9999,TXN_6170729,Sandwich,3,4.0,12.0,Cash,In-store,2023-11-07

In [3]:
print(df.dtypes)

Transaction ID      object
Item                object
Quantity            object
Price Per Unit      object
Total Spent         object
Payment Method      object
Location            object
Transaction Date    object
dtype: object

In [4]:
print(df.isnull().sum())

Transaction ID         0
Item                 333
Quantity             138
Price Per Unit       179
Total Spent          173
Payment Method      2579
Location            3265
Transaction Date     159
dtype: int64

In [5]:
df.shape

(10000, 8)

In [6]:
print(df.describe())

       Transaction ID   Item Quantity Price Per Unit Total Spent  \
count           10000   9667     9862           9821        9827
unique          10000     10        7              8          19
top       TXN_1961373  Juice        5            3.0         6.0
freq                1   1171     2013           2429         979

        Payment Method  Location Transaction Date
count             7421      6735             9841
unique               5         4              367
top     Digital Wallet  Takeaway          UNKNOWN
freq              2291      3022              159

In [7]:
print(df.columns)

Index(['Transaction ID', 'Item', 'Quantity', 'Price Per Unit', 'Total Spent',
       'Payment Method', 'Location', 'Transaction Date'],
      dtype='object')

In [8]:
for col in df.columns:
  print(f"Valores unicos en {col}:{df[col].nunique()}")

Valores unicos en Transaction ID:10000
Valores unicos en Item:10
Valores unicos en Quantity:7
Valores unicos en Price Per Unit:8
Valores unicos en Total Spent:19
Valores unicos en Payment Method:5
Valores unicos en Location:4
Valores unicos en Transaction Date:367

In [9]:
df['Total Spent'] = pd.to_numeric(df['Total Spent'], errors='coerce')

In [10]:
df['Payment Method'].replace('UNKNOWN',np.nan, inplace=True)

<ipython-input-10-ff9840a1cf11>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Payment Method'].replace('UNKNOWN',np.nan, inplace=True)

In [11]:
Payment_mode = df['Payment Method'].mode()[0]
df['Payment Method'].fillna(Payment_mode, inplace=True)

<ipython-input-11-bf7ad09de81d>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Payment Method'].fillna(Payment_mode, inplace=True)

In [12]:
print(f"Duplicados:{df.duplicated().sum()}")

Duplicados:0

In [13]:
df['Transaction Date'] = pd.to_datetime(df['Transaction Date'], errors='coerce')
#Extraer año, mes y día
df['Año'] = df['Transaction Date'].dt.year
df['Mes'] = df['Transaction Date'].dt.month
df['Dia'] = df['Transaction Date'].dt.day
df['Nombre_Dia'] = df['Transaction Date'].dt.day_name()


print(df)

     Transaction ID      Item Quantity Price Per Unit  Total Spent  \
0       TXN_1961373    Coffee        2            2.0          4.0
1       TXN_4977031      Cake        4            3.0         12.0
2       TXN_4271903    Cookie        4            1.0          NaN
3       TXN_7034554     Salad        2            5.0         10.0
4       TXN_3160411    Coffee        2            2.0          4.0
...             ...       ...      ...            ...          ...
9995    TXN_7672686    Coffee        2            2.0          4.0
9996    TXN_9659401       NaN        3            NaN          3.0
9997    TXN_5255387    Coffee        4            2.0          8.0
9998    TXN_7695629    Cookie        3            NaN          3.0
9999    TXN_6170729  Sandwich        3            4.0         12.0

      Payment Method  Location Transaction Date     Año   Mes   Dia Nombre_Dia
0        Credit Card  Takeaway       2023-09-08  2023.0   9.0   8.0     Friday
1               Cash  In-store       2023-05-16  2023.0   5.0  16.0    Tuesday
2        Credit Card  In-store       2023-07-19  2023.0   7.0  19.0  Wednesday
3     Digital Wallet   UNKNOWN       2023-04-27  2023.0   4.0  27.0   Thursday
4     Digital Wallet  In-store       2023-06-11  2023.0   6.0  11.0     Sunday
...              ...       ...              ...     ...   ...   ...        ...
9995  Digital Wallet   UNKNOWN       2023-08-30  2023.0   8.0  30.0  Wednesday
9996  Digital Wallet       NaN       2023-06-02  2023.0   6.0   2.0     Friday
9997  Digital Wallet       NaN       2023-03-02  2023.0   3.0   2.0   Thursday
9998  Digital Wallet       NaN       2023-12-02  2023.0  12.0   2.0   Saturday
9999            Cash  In-store       2023-11-07  2023.0  11.0   7.0    Tuesday

[10000 rows x 12 columns]

In [15]:
print(df.isnull().sum())

Transaction ID         0
Item                 333
Quantity             138
Price Per Unit       179
Total Spent          502
Payment Method         0
Location            3265
Transaction Date     460
Año                  460
Mes                  460
Dia                  460
Nombre_Dia           460
dtype: int64

In [19]:
most_frecuent_item = df['Item'].mode()[0]
df['Item'] = df['Item'].fillna(most_frecuent_item)

In [20]:
most_frecuent_item = df['Quantity'].mode()[0]
df['Quantity'] = df['Quantity'].fillna(most_frecuent_item)

In [22]:
most_frecuent_item = df['Price Per Unit'].mode()[0]
df['Price Per Unit'] = df['Price Per Unit'].fillna(most_frecuent_item)

In [26]:
most_frecuent_item = df['Total Spent'].mode()[0]
df['Total Spent'] = df['Total Spent'].fillna(most_frecuent_item)

In [34]:
df['Location'] = df['Location'].fillna(df['Location'].mode()[0])

In [35]:
df['Año'] = df['Año'].fillna(df['Año'].mode()[0])

In [33]:
df['Mes'] = df['Mes'].fillna(df['Mes'].mode()[0])

In [38]:
df['Dia'] = df['Dia'].fillna(df['Dia'].mode()[0])

In [40]:
df['Nombre_Dia'] = df['Nombre_Dia'].fillna(df['Nombre_Dia'].mode()[0])

In [46]:
df.isnull().sum()

Transaction ID    0
Item              0
Quantity          0
Price Per Unit    0
Total Spent       0
Payment Method    0
Location          0
Año               0
Mes               0
Dia               0
Nombre_Dia        0
dtype: int64

In [48]:
df.to_csv('ventas_cafe_dirty.csv', sep=',', index=False, encoding='utf-8')